

body{
    color:white;
}

button{
    width:100%;
}
.title-balance{
    position: relative;
    margin:auto;
    text-align: center;
    font-size:0.75rem;
}
row{
    margin:auto;
    position: relative;
}
#recentTransactions{
    margin-bottom: 200px!important;
}

.trans-col{
    font-size: 0.8rem;
}

.balance{
    font-weight:700;
    text-align: center;
    font-size: 2.5rem;
    position: relative;
    margin:auto;
}

.withdraw{
    align-items: center;
    color:white;
}
.deposit{
    align-items: center;
    color: white;
}
.modal-header {
    display: flex;
    justify-content: space-between; /* Ensures space between left, middle, and right elements */
    align-items: center; /* Centers the items vertically */
    padding: 10px; /* Standard padding */
}

.modal-title {
    flex-grow: 1; /* Allows the title to occupy any additional space */
    text-align: center; /* Centers the title text */
    margin: 0; /* Removes default margin to aid in centering */
}


.close{
    width:15vw;
    color:white;
    font-size:1rem;
    text-shadow:none;

}
.close:hover{
    color:rgb(155, 155, 155)!important;
    background-color: none;
}
/* Ensuring the cancel and add buttons do not grow to maintain their intended sizes */
.modal-header .btn-secondary, .modal-header .btn-primary {
    flex-shrink: 0;
}

.modal-content{
    background-color: rgb(65, 65, 65);
    margin-top:25vw;
}
.modal-body {
    background-color: rgb(65, 65, 65);
    color:white;
    display: flex;
    justify-content: center;
    flex-direction: column;   /* Aligns children elements vertically */
}
#new_category_input, #date, #amount, #merchant, #category{
    background-color: rgb(155, 155, 155);
    border-radius: 50px;
    color: white;
    border: solid rgb(155, 155, 155) 0px;
    height: 10vw;
}

#submit{
    position:relative;
    width:100%;
    border-radius: 25px;
}

ul, ol { /* This applies the style to all unordered and ordered lists */
    list-style-type: none; /* Removes bullet points or numbers */
    padding: 0; /* Removes padding */
    margin: 0; /* Removes margins */
}
  
select, input::placeholder {
    color: #ffffff!important; /* Light gray color; adjust as needed */
    opacity: 1; /* Optional: Ensures the color isn't partially transparent */
  }


.switch-field {
    display: flex;
    justify-content: center;  /* Ensures the contents inside are centered */
    width: 100%;              /* Ensures it takes the full width to allow centering */
    margin: 10px auto;        /* Top and bottom margin 10px, left and right auto */
}
.switch-field input {
    display: none;
}
.switch-field label {
    background-color: rgb(155, 155, 155);
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.switch-field label:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.switch-field input:checked + label {
    background-color: #28a745;
    color: white;
}

#transaction_type{
    margin:auto;
    position:relative;
    display:flex;
}

.container-fluid{
    margin-bottom:25vw;
}