

body{
    color:white;
}

button{
    width:100%;
}

row{
    margin:auto;
    position: relative;
}

.trans-col{
    font-size: 0.8rem;
}

.balance{
    position: relative;
    margin:auto;
    border: 2px solid white;
}