body {
    background-color: black;
    color: white;
}

form {
    color: black;
}


h6 {
    text-align: right;
    padding: 5px 0px 5px 0px;
}


#alert-container {
    position: relative;
    min-height: 50px;  /* Ensures container has space for the alert */
}
.alert {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transition: opacity 1s ease-out;
    opacity: 1;
    z-index: 1050; /* High z-index to ensure it appears on top of other content */
}
.container {
    padding-top: 50px;
    width: 100%; /* Full width */
    max-width: 400px; /* Maximum width */
    margin: auto; /* Centering */
}
.form-control, .btn {
    margin-bottom: 10px;
    height: 50px; /* Larger form controls and buttons for better mobile accessibility */
    
}

.form-label {
    display: none;
}

.btn {
    width: 100%; /* Make the button full width */
    text-align: center; /* Center the text within the button */
    display: block; /* Ensure the button is treated as a block element */
}

.btn-primary {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-color: white;

}

.btn-primary:hover {
    background-color: #28a745;
    color: white;
    border: none;
}

.register-link {
    color: white;
    text-decoration: none;
}

.register-link:hover {
    color: white;
    text-decoration: underline;
}

.forgot-password-link {
    color: white;
    text-decoration: none;
}

.forgot-password-link:hover {
    color: white;
    text-decoration: underline;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; /* Adjust width as needed */
}

/* Responsive adjustments */

/* Small Devices */
@media (max-width: 767.98px) {
    .container {
        max-width: 100%; 
        padding: 0 15px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .form-control, .btn {
        margin-bottom: 8px; 
        padding: 8px; 
    }

    img {
        width: 75%; 
    }

    h1 {
        font-size: 2rem;
        padding-bottom: 20px;
    }

    #logo img {
        padding-bottom: 20px;
    }

    #registerNow {
        font-size: 0.8rem;
        padding-top: 10px;
    }

    #forgotPassword {
        font-size: 0.8rem;
        padding-bottom: 20px;
    }
}

/* Medium Devices */
@media (min-width: 768px) {
    .container {
        max-width: 500px; 
    }

    h1 {
        font-size: 4rem;
        padding-bottom: 5px;
    }
}

/* Large Devices */
@media (min-width: 992px) {
    .container {
        max-width: 700px;
    }

    h1 {
        font-size: 4rem;
        padding-bottom: 5px;
    }

    .form-control, .btn {
        padding: 12px; 
    }

    img {
        width: 60%;
    }
}

/* Extra Large Devices */
@media (min-width: 1200px) {
    .container {
        max-width: 900px; 
    }

    .form-control, .btn {
        padding: 15px; 
    }

    img {
        width: 50%; 
    }

    h1 {
        font-size: 5rem;
        padding-bottom: 5px;
    }

    #logo img {
        width: 50%; 
    }

    #moneySigns img {
        width: 20%; 
    }
}