body{
    color:white;
}
.container {
    max-width: 600px;
    padding-top: 50px;
}
.profile-info {
    margin-bottom: 20px;
}
.profile-info label {
    font-weight: bold;
}

.back-button {
    color: white;  /* Sets the color of the arrow */
    padding: 10px; /* Adjust padding as needed */
    font-size: 24px; /* Adjust size as needed */
    border: none; /* Removes border */
    background: transparent; /* Transparent background */
}

/*  .back-button:hover {
    color: #ccc;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.1);
} */

.logout{
    color: white;
    text-align: center;
    text-decoration: none !important;
    padding-top: 4vh;
}

a {
    color: white;
}

a:hover {
    color: white;
    text-decoration: underline;
}

.a.logout{
    color:inherit;
}

/* .btn {
width: 100%; 
text-align: center; 
display: block; 
} */

.btn-primary {
background-color: white;
color: black;
border: none;
width: 100%;
display: block;

}

.btn-primary:hover {
    background-color: #28a745;
    color: white;
    border: none;
}