body {
    padding-top: 5vw;
    background-color: black;
    color: white;
}

form {
    color: black;
}

.back-to-login {
    text-align:center;
    color: white;
}

.back-to-login:hover {
    text-align:center;
    color: white;
    text-decoration: underline;
}

.form-group {
    margin-bottom: 15px; /* Standardized margin between form groups */
}

.form-control, .btn {
    margin-bottom: 10px; /* Standardized margin between form controls and buttons */
    height: auto; /* Let the browser decide the appropriate height */
    padding: 10px; /* Add padding for better spacing */
}

.btn {
    width: 100%; 
    text-align: center; 
    display: block; 
    padding: 10px 0; /* Ensure buttons have sufficient padding */
}

.btn-primary {
    background-color: white;
    color: black;
    border: none;
}

.btn-primary:hover {
    background-color: #28a745;
    color: white;
    border: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media (min-width: 768px) {
    .container {
        max-width: 500px;
    }
}
