
body{
    padding-top:5vw;
    background-color:black;
    color:white;
    }
form{
    color:black;
    }

.back-to-login {
    position: absolute;
    top: 20px;
    right: 20px;
    }

btn {
    background-color: white;
    color: black;
    width: 100%;
    text-align: center;
    display: block;

    }