
body{
    padding-top:5vw;
    background-color:black;
    color:white;
    }
form{
    color:black;
    }

.back-to-login {
    position: absolute;
    top: 20px;
    right: 20px;
    }

btn {
    background-color: white;
    color: black;
    width: 100%;
    text-align: center;
    display: block;

    }

img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%; /* Adjust width as needed */
    }
    
/* Responsive adjustments */
@media (min-width: 768px) {
        .container {
            max-width: 500px; /* Slightly larger container for tablets and desktops */
        }
    }