<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon-->
    <link rel="icon" href="static/img/dough_diaries_favicon_64x64.png">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %} 
    {% endblock %}

    <title>{% block title %}{% endblock %} - Dough Diaries</title>
  </head>
  <body>

    <!-- Include this in the body of your HTML -->
    <div id="loadingSpinner" style="display: none;">
        <div class="spinner" style="background-color:white;color:white;">
            Loading...
        </div>
    </div>

    <style>
    .spinner {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem;
        color: #fff;
        background-color: rgba(0,0,0,0.5);
        padding: 20px;
        border-radius: 10px;
        z-index: 1000;
    }
    </style>
    <header><div class="logo"></div></header>
    {% block content %}

    {% endblock %}

    <footer class="mobile-footer">
        <nav class="nav-menu">
            <a href="{{ url_for('home') }}" class="nav-item">
                <img src="{{ url_for('static', filename='img/home-icon.png') }}" alt="Home">
            </a>
            <a href="/analytics" class="nav-item">
                <img src="{{ url_for('static', filename='img/analytics-icon.png') }}" alt="Analytics">
            </a>
            <a href="/profile" class="nav-item">
                <img src="{{ url_for('static', filename='img/user-icon.png') }}" alt="Profile">
            </a>
        </nav>
    </footer>
    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var spinner = document.getElementById('loadingSpinner');
    
            // Use capturing to handle clicks that might be on child elements of the <a> tags
            document.body.addEventListener('click', function(e) {
                for (let target = e.target; target && target !== this; target = target.parentNode) {
                    if (target.matches('a')) { // This checks if the clicked element is an <a> tag or a child of an <a> tag
                        spinner.style.display = 'block';
                        break; // Stop the loop once the <a> tag is handled
                    }
                }
            }, true); // Enable capturing phase
    
            // Hide spinner after a slight delay to allow for page unload
            window.addEventListener('beforeunload', function() {
                spinner.style.display = 'none';
            });
        });
    </script>
    {% block scripts %}
    
    {% endblock %}
</body>
</html>