{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid col-11">
  <div class="row mb-4">
    {% if user.username %}
    <h1 class="col-8 my-3">Hi, {{ user.username }}</h1>
    <div class='balance col-6 my-2'>
      <h3 class="col-8 title-balance">AVAILABLE DOUGH</h3>
      {{ "%.2f"|format(user.balance) }}</div>
    {% else %}
    <h1 class="col-8 text-center">You're a Money Guru</h1>
    {% endif %}

    <!-- <h6 class="col-12">Add Transaction</h6> -->
    <!-- Trigger/Open The Modal -->
    <div class="col-12"><button class="btn btn-success" data-toggle="modal" data-target="#addExpenseModal">ADD TRANSACTION</button>
    </div>
  </div>

  <!-- Flash message area -->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="alert alert-info" role="alert">
    {% for message in messages %}
    {{ message }}<br>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
  <!-- End of flash message area -->

  <div id="recentTransactions" class="row justify-content-center mb-5">
    <p class="col-12">RECENTS</p>
    {% for tran in trans %}
      <div class="row trans-col w-100 justify-content-center {{ tran.transaction_type }}">

        <div class="col-3">{{ tran.date.strftime('%B %d, %Y') }}</div>
        <div class="col-2">{{ tran.merchant }}</div>
        <div class="col-3">{{ tran.category }}</div>
        <div class="col-2">{{ "%.2f"|format(tran.amount) }}</div>
        <!-- Trigger/Open The Modal for Editing Transaction -->
        <button class="btn btn-link col-2" data-toggle="modal" data-target="#editExpenseModal" 
                data-id="{{ tran.id }}" data-date="{{ tran.date.strftime('%Y-%m-%d') }}"
                data-merchant="{{ tran.merchant }}" data-amount="{{ tran.amount }}"
                data-category="{{ tran.category }}" data-type="{{ tran.transaction_type }}">
            Edit
        </button>
      </div>
    {% endfor %}
  </div>
</div>

<!-- Transaction Modal -->
<div class="modal" id="addExpenseModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
          <!-- Cancel Button on the Left -->
          <button type="button" class="btn btn-secondary close" data-dismiss="modal">Cancel</button>
        
          <!-- Title in the Middle -->
          <h4 class="modal-title mx-auto">Add Expense</h4>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <form method="POST" action="{{ url_for('add_expense') }}">
          <!-- Replace 'submit_route' with the actual route name -->
          {{ form.hidden_tag() }}
          <div class="switch-field justify-content-center">
            {{ form.transaction_type() }}
          </div>
          <div class="form-group">
            {{ form.date(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.amount(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.merchant(class="form-control") }}
          </div>
          <!-- ategories -->
          <div class="form-group">
            {{ form.category(class="form-control category-select", id="category") }}
            <input type="text" class="form-control mt-2" id="new_category_input" name="new_category" placeholder="Type your new category" style="display:none;">
          </div>
          {{ form.submit(class="btn btn-success") }}
        </form>

        <!-- Flash message area -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-info" role="alert">
          {% for message in messages %}
          {{ message }}<br>
          {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <!-- End of flash message area -->

      </div>

    </div>
  </div>
</div>


<!-- Single Modal for Editing Transaction -->
<div class="modal fade" id="editExpenseModal" tabindex="-1" role="dialog" aria-labelledby="editExpenseModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editExpenseModalLabel">Edit Transaction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="editTransactionForm" method="POST">
          {{ form.hidden_tag() }}
          
          
          <!-- Date Field -->
          <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" name="date" id="date" class="form-control" required>
          </div>

          <!-- Merchant Field -->
          <div class="form-group">
            <label for="merchant">Merchant:</label>
            <input type="text" name="merchant" id="merchant" class="form-control" required>
          </div>

          <!-- Amount Field -->
          <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="number" step="0.01" name="amount" id="amount" class="form-control" required>
          </div>

         <!-- ategories -->
         <div class="form-group">
          {{ form.category(class="form-control category-select", id="category") }}
          <input type="text" class="form-control mt-2" id="new_category_input" name="new_category" placeholder="Type your new category" style="display:none;">
        </div>

          <!-- Transaction Type Radio Buttons
          <div class="form-group">
            <div>Transaction Type:</div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="transaction_type" id="withdraw" value="withdraw" required>
              <label class="form-check-label" for="withdraw">Withdraw</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="transaction_type" id="deposit" value="deposit" required>
              <label class="form-check-label" for="deposit">Deposit</label>
            </div>
          </div> -->

          <!-- Submit Button -->
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var categorySelects = document.querySelectorAll('.category-select');
    categorySelects.forEach(function(select) {
      select.addEventListener('change', function() {
        // Get the corresponding new category input related to this select
        var newCategoryInput = this.nextElementSibling; // Assuming the input immediately follows the select
        newCategoryInput.style.display = this.value === 'other' ? 'block' : 'none';
      });
    });

    // Your existing modal handling script...
    var editModal = $('#editExpenseModal');
    editModal.on('show.bs.modal', function(event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var transactionId = button.data('id');
      var transactionDate = button.data('date');
      var transactionMerchant = button.data('merchant');
      var transactionAmount = button.data('amount');
      var transactionCategory = button.data('category');
      var transactionType = button.data('type');

      var form = editModal.find('form');
      form.attr('action', '/edit_transaction/' + transactionId);

      form.find('[name="date"]').val(transactionDate);
      form.find('[name="merchant"]').val(transactionMerchant);
      form.find('[name="amount"]').val(transactionAmount);
      form.find('[name="category"]').val(transactionCategory).trigger('change');
      form.find('[name="transaction_type"]').filter('[value="' + transactionType + '"]').prop('checked', true);
    });

    // Hide alerts after 5 seconds
    setTimeout(function() {
      $('.alert').fadeOut();
    }, 5000);
  });
</script>

{% endblock %}