{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row mb-4">
    {% if user.username %}
    <h1 class="col-8 my-3">Hi, {{ user.username }}</h1>
    <div class='balance col-6 my-2'>
      <h3 class="col-8 title-balance">BALANCE</h3>
      {{ "%.2f"|format(user.balance) }}</div>
    {% else %}
    <h1 class="col-8 text-center">You're a Money Guru</h1>
    {% endif %}

    <h6 class="col-12">Track Expenses</h6>
    <!-- Trigger/Open The Modal -->
    <div class="col-12"><button class="btn btn-success" data-toggle="modal" data-target="#addExpenseModal">+</button>
    </div>
  </div>

  <!-- Flash message area -->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="alert alert-info" role="alert">
    {% for message in messages %}
    {{ message }}<br>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
  <!-- End of flash message area -->

  <div class="row justify-content-center mb-5">
    <p class="col-12">Recent Transactions</p>
    {% for tran in trans %}
    <div class="row trans-col w-100 justify-content-center {{ tran.transaction_type }}">
      <div class="col-3">{{ tran.date.strftime('%Y-%m-%d')  }}</div>
      <div class="col-3">{{ tran.merchant }}</div>
      <div class="col-3">{{ tran.category }}</div>
      <div class="col-3">{{ "%.2f"|format(tran.amount) }}</div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="addExpenseModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
          <!-- Cancel Button on the Left -->
          <button type="button" class="btn btn-secondary close" data-dismiss="modal">Cancel</button>
        
          <!-- Title in the Middle -->
          <h4 class="modal-title mx-auto">Add Expense</h4>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <form method="POST" action="{{ url_for('add_expense') }}">
          <!-- Replace 'submit_route' with the actual route name -->
          {{ form.hidden_tag() }}
          <div class="switch-field justify-content-center">
            {{ form.transaction_type() }}
          </div>
          <div class="form-group">
            {{ form.date(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.amount(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.merchant(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.category(class="form-control") }}
          </div>
          {{ form.submit(class="btn btn-success") }}
        </form>

        <!-- Flash message area -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-info" role="alert">
          {% for message in messages %}
          {{ message }}<br>
          {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <!-- End of flash message area -->

      </div>

    </div>
  </div>
</div>


{% endblock %}

{% block scripts %}
<script>
  window.onload = function() {
      setTimeout(function() {
          var alerts = document.querySelectorAll('.alert');
          for(var i = 0; i < alerts.length; i++) {
              alerts[i].style.display = 'none';
          }
      }, 5000);
  }
</script>

{% endblock %}